{% extends "base.html" %}

{% load i18n %}

{% block page-id %}dashboard{% endblock %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}

{% load custom_tags %}

{% if not campaign %}

    <h2>{% trans "No campaign yet" %}</h2>
    
    <p class="create-button">
        <a href="{% url create-campaign %}">
            <span>{% trans "Create a campaign" %}</span>
        </a>
    </p>
    
{% else %}

    <div id="dashboard-header" class="span-24 last">

        <h2 id="title-prefix" class="span-24 last">{% trans "Campaign" %}:</h2>
        
        <div id="pagination" class="span-20" >
        
        {% if page.has_next %}
         <p  class="previous" >
            <a href="?page={{ page.next_page_number }}">
                &lt; {% trans "Previous" %}
            </a>
         </p>
        {% endif %}
        
        <h3 title={{ campaign.code }}>
            <a href="{% url campaigns-results %}"?page={{ page }}>
            {{ campaign.name }}
            </a>
        </h3> 
         
        {% if page.has_previous %}
        <p  class="next" >
            <a href="?page={{ page.previous_page_number }}">
                {% trans "Next" %} &gt;
            </a>
        </p>
        {% endif %}
        
         </div>
        
        <p id="campaign-date" class="span-4 last" >
        {% trans "starts on" %} {{ campaign.start_date|date:"SHORT_DATE_FORMAT" }}
        </p>
    
    </div>
    
    <div id="data" class="span-24 last">
    
    <table>
        <caption>{% trans "Progress" %}</caption>
        <thead>
        <tr>
            <th>{% trans "Zone" %}</th>
            <th>{% trans "Target areas" %}</th>
            <th>{% trans "Areas with a completed report" %}</th>
            <th>{% trans "Areas with reports in progress" %}</th>
            <th>{% trans "Areas with reports on hold" %}</th>
        </tr>
        </thead>
        
        <tbody>
                
        {% for loc, stats in stats.iteritems %}
            <tr>
                <td>{{ loc }}</td>
                <td>{{ stats.total }}</td>
                {% with stats.completed|default:0 as completed %}
                <td>
                    {{ completed }}
                    ({% pourcent completed stats.total %} %)
                </td>
                {% endwith %}
                {% with stats.in_progess|default:0 as in_progess %}
                <td>
                    {{ in_progess }}
                    ({% pourcent in_progess stats.total %} %)
                </td>
                {% endwith %}
                {% with stats.on_hold|default:0 as on_hold %}
                <td>
                    {{ in_progess }}
                    ({% pourcent on_hold stats.total %} %)
                </td>
                {% endwith %}
            </tr>
    
        {% endfor %}
        
        </tbody>
    
    </table>
  
    
    </div>
   
    
    
{% endif %}


{% endblock %}
