#who-dashboard #pagination {
text-align: center;
display: inline;
}

#who-dashboard #pagination h2 {
display: inline;
margin: 1em 1em; 
}

#who-dashboard #dashboard-header #campaign-date {
position:relative;
top:-3em;
left:70%;
}

#who-dashboard #pagination .previous {
margin-left: 1em; 
}

#who-dashboard table thead {
text-align:center;
}

#who-dashboard table ul {
padding-left:2ex;
}

#branding h1 a 
{
background-image: None;
}

#branding h1 {
background-color: transparent;
background-image: url("../images/Logo_OMS_small.png");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 100% 50%;
height: 65px;
color: #ffffff;
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
}

#who-dashboard table td {
    border: 1px solid #DDDDDD;
}

#who-dashboard table  {
    padding-bottom:0;
    margin-bottom:0;
}



