{% extends "layout.html" %}

{% load i18n %}

{% block title %}Dashboard - {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}who_base/stylesheets/style.css" />
{% endblock %}

{% block content %}

<div id='who-dashboard'>

{% if not campaign %}

    <h2>{% trans "No campaign yet" %}</h2>
    
    <p>
        <a href="{% url admin:who_base_campaign_add %}">{% trans "Add a campaign" %}</a>
    </p>
    
{% else %}

    <div id="dashboard-header">

        <p id="title-prefix">{% trans "Campaign" %}:</p>
        
        <div id="pagination">
        
        {% if page.has_next %}
                <a class="previous" href="?page={{ page.next_page_number }}">&lt; {% trans "Previous" %}</a>
        {% endif %}
        
        <h2>{{ campaign.name }}</h2> 
         
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">{% trans "Next" %} &gt;</a>
        {% endif %}
        
         </div>
        
        <p id="campaign-date">{% trans "started on" %} {{ campaign.start_date }}</p>
    
    </div>
    
    <table>
        <thead>

        
        <tr>
            <th rowspan="4" >{% trans "Region" %}</th>
            <th rowspan="2" >{% trans "Cercle" %}</th>
            <th rowspan="2" >{% trans "City" %}</th>
            <th rowspan="2" >{% trans "Drugs" %}</th>
            <th rowspan="2" >{% trans "Distributor" %}</th>
            <th rowspan="2" >{% trans "Treated on" %}</th>
            <th rowspan="2" >{% trans "Reported on" %}</th>
            <th colspan="3" >{% trans "Males, by age" %}</th>
            <th colspan="3" >{% trans "Females, by age" %}</th>
        </tr>
        
        <tr>
        
            <th>{% trans "1-4" %}</th>
            <th>{% trans "5-14" %}</th>
            <th>{% trans "15+" %}</th>
            <th>{% trans "1-4" %}</th>
            <th>{% trans "5-14" %}</th>
            <th>{% trans "15+" %}</th>

        </tr>
        
        </thead>
        
        {% if results %}
        
        <tbody>
        {% for region, circles in results %}
            {% for circle, cities in circles %}
                {% for city, res in cities %}
                    {% for r in res %}
                    
                        <tr>
                            <td>{{ region.name }}</td>
                            <td>{{ circle.name }}</td>
                            <td>{{ city.name }}</td>
                            <td>
                                <ul>
                                {% for drug in r.pack.drugs.all %}
                                    <li>{{ drug }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                            <td>{{ r.distributor|default:"" }}</td>
                            <td>{{ r.treatment_date|default:"" }}</td>
                            <td>{{ r.report_date|default:"" }}</td>
                            <td>{{ r.child_males_data|default:"" }}</td>
                            <td>{{ r.teen_males_data|default:"" }}</td>
                            <td>{{ r.adult_males_data|default:"" }}</td>
                            <td>{{ r.child_females_data|default:"" }}</td>
                            <td>{{ r.teen_females_data|default:"" }}</td>
                            <td>{{ r.adult_females_data|default:"" }}</td>
                        </tr>
                
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
    
    </table>
    
    {% else %}
    <p>{% trans "This campaing is empty." %}
        <a href="{% url admin:who_base_results_add %}">{% trans "Add results" %}</a>
    </p>    
    {% endif %}
    
    
{% endif %}

</div>

{% endblock %}
