<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >

    <head>
        <title>{% block title %}{% endblock %}</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}static/who_base/stylesheets/blueprint/screen.css" type="text/css" media="screen"  />
        <link rel="stylesheet" href="{{ MEDIA_URL }}static/who_base/stylesheets/style.css" type="text/css" media="screen"  />
     
    </head>
    
    <body>
        
        {% load i18n %}
        
        <div id="{% block page-id %}{% endblock %}" class="container"> 
        
            <ul id="menu">
                {% if 'dashboard' in request.view_name %}
                <li>{% trans "Home" %}</li>
                <li>
                    <a href="{% url campaigns-list %}">
                    {% trans "Manage campaigns" %}
                    </a>
                </li>
                {% else %}
                <li><a href="{% url who-dashboard %}">{% trans "Home" %}</a></li>
                <li>{% trans "Manage campaigns" %}</li>
                {% endif %}
                <li>
                    <a href="{% url rapidsms-dashboard %}">
                    {% trans "RapidSMS admin" %}
                    </a>
                </li>
                <li>
                    <a href="{% url admin:index %}">
                    {% trans "Django admin" %}
                    </a>
                </li>
            </ul>
        
            {% block content %}{% endblock %}
        </div>
        
    </body>
    
</html>
