{% extends "base.html" %}

{% load i18n %}

{% block page-id %}create-campaign{% endblock %}

{% block content %}

    <h2>{% trans "Campaigns" %}</h2>


    {% if campaigns_list %}
    <ul>
        {% for campaign in campaigns_list %}
            <li><a href="{{ campaign.get_absolute_url }}">{{ campaign.code }} - {{ campaign }}</a>
             | <a href="{% url delete-campaign campaign.pk %}">{% trans "delete" %}</a></li>
        {% endfor  %}
    </ul>
    {% endif %}

    <p><a href="{% url create-campaign %}">{% trans "Create a campaign" %}</a></p>

{% endblock %}
